BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "USB_CLKO" SITE "24" ;
LOCATE COMP "USB_PA[0]" SITE "63" ;
LOCATE COMP "USB_PA[1]" SITE "62" ;
LOCATE COMP "USB_PA[2]" SITE "61" ;
LOCATE COMP "USB_PA[3]" SITE "60" ;
LOCATE COMP "USB_PA[4]" SITE "58" ;
LOCATE COMP "USB_PA[5]" SITE "57" ;
LOCATE COMP "USB_PA[6]" SITE "55" ;
LOCATE COMP "USB_PA[7]" SITE "54" ;
LOCATE COMP "USB_RESET2" SITE "8" ;
LOCATE COMP "USB_CTL[0]" SITE "68" ;
LOCATE COMP "USB_CTL[1]" SITE "67" ;
LOCATE COMP "USB_CTL[2]" SITE "65" ;
LOCATE COMP "USB_PB[0]" SITE "79" ;
LOCATE COMP "USB_PB[1]" SITE "78" ;
LOCATE COMP "USB_PB[2]" SITE "77" ;
LOCATE COMP "USB_PB[3]" SITE "75" ;
LOCATE COMP "USB_PB[4]" SITE "74" ;
LOCATE COMP "USB_PB[5]" SITE "73" ;
LOCATE COMP "USB_PB[6]" SITE "72" ;
LOCATE COMP "USB_PB[7]" SITE "71" ;
LOCATE COMP "USB_PD[0]" SITE "49" ;
LOCATE COMP "USB_PD[1]" SITE "48" ;
LOCATE COMP "USB_PD[2]" SITE "46" ;
LOCATE COMP "USB_PD[3]" SITE "45" ;
LOCATE COMP "USB_PD[4]" SITE "43" ;
LOCATE COMP "USB_PD[5]" SITE "42" ;
LOCATE COMP "USB_PD[6]" SITE "40" ;
LOCATE COMP "USB_PD[7]" SITE "39" ;
LOCATE COMP "USB_RDY[0]" SITE "53" ;
LOCATE COMP "USB_RDY[1]" SITE "52" ;
LOCATE COMP "USB_SCL" SITE "69" ;
LOCATE COMP "USB_SDA" SITE "64" ;
LOCATE COMP "USB_WAKEUP" SITE "51" ;
LOCATE COMP "USB_IFCLK" SITE "25" ;
LOCATE COMP "JTAG_DONE" SITE "22" ;
LOCATE COMP "JTAG_INIT" SITE "21" ;
LOCATE COMP "JTAG_PROG" SITE "32" ;
LOCATE COMP "JTAG_TCK" SITE "23" ;
LOCATE COMP "JTAG_TDI" SITE "37" ;
LOCATE COMP "JTAG_TDO" SITE "38" ;
LOCATE COMP "JTAG_TMS" SITE "30" ;
LOCATE COMP "JTAG_TRST" SITE "31" ;
LOCATE COMP "SCLK" SITE "15" ;
LOCATE COMP "CS" SITE "14" ;
LOCATE COMP "DIN" SITE "16" ;
LOCATE COMP "DOUT" SITE "18" ;
LOCATE COMP "CH0" SITE "3" ;
LOCATE COMP "CH1" SITE "4" ;
LOCATE COMP "CH2" SITE "5" ;
LOCATE COMP "CH3" SITE "7" ;
LOCATE COMP "LPT_9" SITE "92" ;
LOCATE COMP "LPT_10" SITE "89" ;
LOCATE COMP "LPT_11" SITE "88" ;
LOCATE COMP "LPT_12" SITE "87" ;
LOCATE COMP "LPT_13" SITE "86" ;
LOCATE COMP "LPT_14" SITE "85" ;
LOCATE COMP "LPT_15" SITE "84" ;
LOCATE COMP "LPT_16" SITE "82" ;
LOCATE COMP "LPT_1" SITE "2" ;
LOCATE COMP "LPT_2" SITE "1" ;
LOCATE COMP "LPT_3" SITE "99" ;
LOCATE COMP "LPT_4" SITE "98" ;
LOCATE COMP "LPT_5" SITE "97" ;
LOCATE COMP "LPT_6" SITE "96" ;
LOCATE COMP "LPT_7" SITE "95" ;
LOCATE COMP "LPT_8" SITE "93" ;
LOCATE COMP "SW1" SITE "81" ;
IOBUF PORT "USB_CLKO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SW1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "USB_PA[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PA[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_RESET2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CH0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CH1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CH2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CH3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DIN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DOUT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_DONE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_INIT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_PROG" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_TCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_TDI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_TDO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_TMS" IO_TYPE=LVCMOS33 ;
IOBUF PORT "JTAG_TRST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_14" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_15" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LPT_16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_CTL[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_CTL[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_CTL[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_IFCLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PB[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_PD[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_RDY[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_RDY[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_SCL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_SDA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "USB_WAKEUP" IO_TYPE=LVCMOS33 ;
LOCATE COMP "DSW0" SITE "13" ;
LOCATE COMP "DSW1" SITE "12" ;
LOCATE COMP "DSW2" SITE "11" ;
LOCATE COMP "DSW3" SITE "10" ;
IOBUF PORT "DSW0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DSW1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DSW2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DSW3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
